.content-card-component{
     display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 32px; 
  width: 100%;

}

.content-card-image{
    aspect-ratio: 16/9;
    border-radius: 8px;
}

.content-card-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    text-align: left;
}
@media (max-width: 950px) {
  .content-card-component {
    grid-template-columns: 1fr;
    gap: 64px;
  }
}

.content-card-image {
  width: 100%;
  height: auto;
  object-fit: contain;     
  max-width: 100%;        
  display: block;
}