.hero-section{
    min-height: 100vh;
    width: 100%;
    background:
    linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.5)),
     url("../../../public/images/landing/hero-bg-alt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;


}

.hero-section .section-padding{
    height: 100%;
    min-height:100vh;

    display: flex;
}

.hero-component{
    height: 100%;
    width: 100%;
    max-width: 1050px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;

    /*vertically center element*/
    margin: auto;

}

.hero-heading{
font-size:60px;
line-height: 120%;
}

.hero-text{
    max-width: 700px;
}


