#property-form{
    background-color: #F7F4F1;
    padding: 32px;
    border-radius: 32px;

    display: grid;
    gap: 32px 16px;
    grid-template-columns: 1fr 1fr;
}

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

}