/* Property cards styles */
.property-card{
    height: 600px;
}

.property-card-link{
    display: none;
}

.details-page-flex{
    display: flex;
    flex-direction: column;
    gap: 80px;
      display: flex;
  justify-content: center;   
  align-items: stretch; 
  text-align: center;

}



.details-features-wrapper{
    padding: 32px;
    max-width: 700px;
    background-color: #e7e7e76a;
    border-radius: 16px;

     display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem; 

}