/* Property cards styles */
.property-card{
    height: 600px;
}

.property-card-link{
    display: none;
}

.details-page-flex{
    display: flex;
    flex-direction: column;
    gap: 80px;
      display: flex;
  justify-content: center;   
  align-items: stretch; 
  text-align: center;

}



.details-features-wrapper{
    padding: 64px;
    max-width: 900px;
    background-color: #E58411;
    border-radius: 16px;

     display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; 

  width: 100%;
  margin: 0 auto;

}