.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
}

.is-nav {
  width: 100%;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.nav-logo{
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  
}

.nav-list a {
     font-weight: 700;
     color: white;
}

.nav-list a:hover {
  opacity: 0.5;
}

footer .nav-list a,
footer .nav-logo{
  color: black;

}