.property-card {
  border-radius: 32px;
  padding:  24px 32px;
  /* background-color: azure; */

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: flex-end;

  height: 312px;

  color: white;
  
    box-shadow:  0px 14px 40px -7px rgba(0, 0, 0, 0.25);
}

.property-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  background: linear-gradient(
    to top right,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0)
  );

  z-index: 2; 
}

.property-card-content{
    position: relative;
    z-index: 3;
    width: 100%;

    /* background-color: aqua; */

}

.property-card-image {
  position: absolute;
  z-index: 1;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: none;
  outline: none;

  top: 0;
  left: 0;
}

.property-card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    /* background-color: green; */
}

.property-card-flex{
    display: flex;
    gap: 16px;

}

.property-card-feature{
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;
    border-radius: 12px;
    font-weight: 700;
    text-transform: capitalize;

    /* background-color: grey; */
}

.property-card-feature p {
    height: 8px;
}

.is-house-type{
    border-radius: 100vw;
    padding: 6px 12px;

    position: absolute;
    top: 24px;
    z-index: 5;
}

.property-card-icon{
    width: 20px;
    height: 20px;
      display: block;
    /* background-color: red; */
}

.property-card-link{
    width: 47px;
    height: 47px;
    /* background-color: white; */
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    right: 24px;
    bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.property-card-link:hover {
  transform: scale(1.1);
}

