

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.3;
}

h2{
  font-size: 42px;
  line-height: 1.1;
}

.heading-eyebrow{
  text-transform: uppercase;
  font-size: 12px;
  color: var(--accent-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-group{
  display: flex;
  justify-content: center;
  gap: 16px;
}


.button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);;
  cursor: pointer;
  transition: all 0.25s ease;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.button:hover {
  border-color: transparent;
  color: white;
  transform: translateY(-3px) scale(1.05);
 box-shadow:
    0 8px 12px rgba(0,0,0,0.05),
    0 16px 25px rgba(0,0,0,0.05),
    0 24px 40px rgba(0,0,0,0.1),
    0 32px 60px rgba(0,0,0,0.005);

}

.button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;

  padding: 32px;
  background-color: #F7F7F7;

  border-radius: 16px;

}

.card-wrapper .card:nth-of-type(even) {
  flex-direction: row-reverse;
}


.search.form-input{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-content: center;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px ;
}

input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  min-width: 0;
}




